@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9fafb;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}